<div class="roulette row" ng-controller="RouletteCtrl" ng-init="id=<%= params[:id] %>; cpuLevel=<%= params[:levelSelect]%>">
  <div class="expect">
    <div>予想</div>
    <div class="roulette_white">白：<%= radio_button 'result', 'expect', 'white', { 'ng-model' => "expect" } %></div>
    <div class="roulette_red">紅：<%= radio_button 'result', 'expect', 'red', { 'ng-model' => "expect" } %></div>
  </div>
  <div class="col-xs-4 col-xs-offset-1 roulette">
    <div ng-if="!stop_roulette" class="cat-walk">
      <div id="img"></div>
    </div>
    <div ng-show="stop_roulette && cat_stanby" class="cat-stanby">
      <%= image_tag("cat_stanby.png") %>
    </div>
    <div ng-if="!stop_roulette || cat_stanby" ng-click="click_roulette()">
      <%= image_tag("roulette2.png", id: 'moto') %>
    </div>
    <div ng-show="stop_roulette && !cat_stanby">
      <div class="kitano">
        <%= image_tag("cat_with_tie.png", class: "cat-with-tie") %>
      </div>
    </div>
  </div>
  <div class="col-xs-4" ng-if="!stop_roulette">
    <%= image_tag("wedding.png") %>
    <div class="cat-word" ng-if="!first">まだだよ☆*: o(≧▽≦)o :*☆</div>        
  </div>
  <div class="col-xs-4 roulette_result" ng-if="stop_roulette" ng-class="{roulette_white: isWhite, roulette_red: ! isWhite}">
    {{stopColor}}
  </div>
  <div class="col-xs-3">
    <%= form_tag({controller: "game_logs", action: "roulette"}, {id: "close"}) do %>
      <%= hidden_field :result, :game_times, { 'ng-value' => "count" } %>
      <%= hidden_field :result, :game_id, { 'ng-value' => "id" } %>
      <%= hidden_field :result, :right_count, { 'ng-value' => "right_times" } %>
      <%= hidden_field :result, :cpu_level, { 'ng-value' => "cpuLevel" } %>
      <button type='submit' class='btn btn-primary' ng-disabled='count < 5'>結果を保存</button>
      <button type='button' class='btn btn-danger' ng-click=getConfirm()>諦める</button>
    <% end %>
    <div class="panel-group">
      <div class="panel panel-success" ng-show="isResult()">
        <div class="panel-heading result-history-head">
          履歴
        </div>
        <div class="panel-body result-history-body">
          <div ng-repeat="result in resultArray" class="row">
            <div class="result_count col-xs-5">
              {{$index + 1}}回目
            </div>
            <div class="result-color col-xs-5 fa fa-flag" 
                ng-class="{roulette_white: result[1] == '白', 
                roulette_red: result[1] == '紅'}">
              {{result[1]}}
            </div>
            <div ng-if=result[2]>
              ○
            </div>
            <div ng-if=!result[2]>
              ×
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
