<div class="row">
  <div class="col-md-2">
    <h1>Ranking</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="panel-group">
      <div class="panel panel-info">
        <div class="panel-heading">game一覧</div>
        <div class="panel-body">
          <div class="row">
            <% @game_list.each do |game_name| %>
              <div class="col-sm-12 game-index"><%= game_name %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-8">
    <% game_ranking_list.each do |ranking| %>
      <div class="col-md-6">
        <div class="panel-group">
          <div class="panel panel-primary">
            <div class="panel-heading"><%= ranking[:game_name] %></div>
            <div class="panel-body">
              <div class="row game-logs-table-head">
                <div class="col-xs-3">順位</div>
                <div class="col-xs-6">ユーザ名</div>
                <div class="col-xs-3">勝数</div>
              </div>
              <div class="row">
                <% ranking[:game_ranking].each do |game_result| %>
                  <div class="col-xs-3 game-logs-table-rank"><%= game_result[:rank] %></div>
                  <div class="col-xs-6 game-logs-table-user-name"><%= game_result[:user_name] %></div>
                  <div class="col-xs-3 game-logs-table-win-count"><%= game_result[:win_count] %></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
