<!DOCTYPE html>
<html>
<head>
  <title>Debility</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body  ng-app="gameFactory" class= <%= @body_background_color ||= "" %>>
  <%= render 'layouts/header' %>
  <div class="main-body container-fluid">
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
